pandas>=1.5.0
numpy>=1.23.0
openpyxl>=3.0.0
pytest>=7.0.0
pytest-cov>=4.0.0

faker>=20.0.0        # For data generation

mkdocs
mkdocs-material
mkdocs-glightbox

flake8               # For Linting
